server:
  port: 8080

spring:
  application:
    name: Santa4You Christmas Delivery Service
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:santa4you
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
      format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

management:
  server:
    port: 8085

  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics

  endpoint:
    health:
      show-details: always

logging:
  level:
    org.hibernate.SQL: DEBUG